# Python
__pycache__/
*.pyc
.env
.venv/
venv*/
trecvit_env/

# Model weights
*.pt
*.pth

# Pipeline outputs
output/
*.npy

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log
